<h1>add technique</h1>

<form action="/user/{{userID}}/gameplans/{{gameplan}}/{{positionid}}" method="POST">
  <div>
    <label for="Name">technique</label>
    <input type="text" name="Name" placeholder="technique name" />
  </div>
  <div>
    <label for="Description">Submitted By</label>
    <input type="text" name="Description" placeholder="details" />
  </div>
  
  <button type="submit">Save Comment</button>
</form>