<div class="background">
<h1>Add a game plan</h1>

<form action="/user/{{userID}}/gameplans" method="POST">
  <div>
    <label for="planname">Plan nice</label>
    <input type="text" name="planname" placeholder="Plan name" />
  </div>
  <div>
    <label for="targetbelt">Submitted By</label>
    <input type="text" name="targetbelt" placeholder="target belt" />
  </div>
  
  <button type="submit">Save Comment</button>
</form>
</div>