body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black,
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}
a:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------  */
/*                                       USER INDEX                                      */
/* ------------------------------------------------------------------------------------- */

.background {
padding: 0px;
  height: 100%;
  width: 100%;
  color: red;
  text-decoration: none;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  /* background-image: url('../images/whitelogo.png'); */
  /* background-repeat: no-repeat; */
  
  
}
.background a{

  color: yellow;
  text-decoration: none;
}

.background a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 5px;
  text-emphasis: 1em;
 
}

/* ------------------------------------------------------------------------------------  */
/*                                  USER INDEX  END                                      */
/* ------------------------------------------------------------------------------------- */

.gameplan{
  display: grid;
  grid-template-columns: repeat(4 1fr)
}
#parent{
  justify-content: space-between;
  
  display: flex;
}
#column1{
  align-self: auto;
  
}
#column2{
  align-self: auto;
  
}
#column3{
  align-self: auto;
  
}
#column4{
  align-self: auto;
  
}
button {
  background-color: gray;
}
li{
list-style: none;
}