body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black,
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------  */
/*                                       USER INDEX                                      */
/* ------------------------------------------------------------------------------------- */

.background {
padding: 0px;
  height: 100%;
  width: 100%;
  color: red;
  text-decoration: none;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  /* background-image: url('../images/whitelogo.png'); */
  /* background-repeat: no-repeat; */
  
  
}
.background a{

  color: yellow;
  text-decoration: none;
}

.background a:hover {
  color: red;
  text-shadow: 5px;
  font-size: 35px;
}

/* ------------------------------------------------------------------------------------  */
/*                                  USER INDEX  END                                      */
/* ------------------------------------------------------------------------------------- */

.gameplan{
  display: grid;
  grid-template-columns: repeat(4 1fr)
}

.col1{
  grid-column: 1
}
.col2{
  grid-column: 2
}
.col3{
  grid-column: 3
}
.colly4{
  grid-column: 4
}